<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <br/>
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
      <br/>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-text" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "off", class: "input-text", placeholder:  @minimum_password_length.to_s+" characters minimum"%>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "input-text" %>
        </div>

        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off", class: "input-text" %>
        </div>

        <div class="actions">
          <%= f.submit "Update", class: "btn btn-idle" %>
        </div>
      <% end %>
      <br/>
      <h3>Cancel my account</h3>
      <br/>
      <%if current_user.last_admin?%>

        <p>Make sure that you name another user as head admin.</p>
      <%else%>
        <p>Unhappy or just bored? <%= button_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>
      <%end%>
    </div>
  </div>
</div>