<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <br/>
      <h1>Welcome to greedy experiment CMS!</h1>
    </div>
    <div class="col-sm">
      <br/>
      <h2>Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-text" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: "input-text" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "input-text" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-idle" %>
        </div>
      <% end %>
    </div>
  </div>
</div>