
<div class="container-fluid">
	<div class="row">
		<diw class="col">
			<br/>
			<%if current_user.approved?%>
				<h1>Users</h1>
				<table>
				  <thead>
				    <tr>
				      <th>Email</th>
				      <th>Role</th>
				      <th>Actions</th>
				      <th>Approved</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @users.each do |user|  %>
				      <tr class="body">
				      	<td><%= user.email %></td>
				      	<% if current_user.head_admin? and (user==current_user and !current_user.last_admin? or !user.head_admin?) %>
					        <%= form_for(user) do |f| %>
					          	<td><%= f.select :role, User.roles.collect{|r| [r[0].humanize, r[0]]}  ,{}, {name: "make_admin", onchange: "this.form.submit();"}%></td>
					        <% end %>
					    <%else%>
				        <td><%= user.role.titleize %></td>
				        <%end%>

				        <td>
				        <%if (current_user.admin? and user.user?) or (current_user.head_admin? and !user.head_admin?)%>
				        	<%= link_to 'Delete User', user_registration_path(user), method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-danger"%>
				        <%elsif current_user==user%>
				        	<%= link_to "Edit Account", edit_user_registration_path(current_user), class: "btn btn-idle"%>
				        <%end%>
				        </td>
				        <td>	
				        <% if !user.head_admin?%>
					        <%= form_for(user) do |f| %>
					          <%=f.check_box :approved, name: "approve", onchange: "this.form.submit();"%>
					        <% end %>
				        <% end %>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
			<% end %>
		</diw>
	</div>
</div>