<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <br/>
      <h1>Results</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for user code..">
      <br/>
      <table id="resultsTable">
        <thead>
          <tr>
            <th>User code</th>
            <th>Clicks</th>
            <th>Chocolates Earned</th>
            <th>Chocolates Eaten</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @results.each do |result| %>
            <tr>
              <td><%= result.user_code %></td>
              <td><%= result.clicks %></td>
              <td><%= result.chocolates %></td>
              <td><%= result.eaten_chocolates %></td>
              <%if current_user.approved?%>
              <td><%= link_to 'Delete Result', result, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
              <%end%>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <h3>Total clicks: <%=@results.sum(:clicks)%></h3>
      <h3>Total chocolates: <%=@results.sum(:chocolates)%></h3>
      <h3>Avg clicks: <%= (@results.sum(:clicks).to_f/@results.count).round(2) %></h3>
      <h3>Avg chocolates earned: <%= (@results.sum(:chocolates).to_f/@results.count).round(2) %></h3>
      <h3>Avg chocolates eaten: <%= (@results.sum(:eaten_chocolates).to_f/@results.count).round(2) %></h3>
    </div>
  </div>
</div>