<p id="notice"><%= notice %></p>

<p>
  <strong>Clicks:</strong>
  <%= @result.clicks %>
</p>

<p>
  <strong>Chocolates:</strong>
  <%= @result.chocolates %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
