<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5">
      <br/>
      <h1 class="center">Welcome to greedy experiment CMS!</h1>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
    <br/>
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-text" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: "input-text" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div>
        <%= f.submit "Log in", class: "btn btn-idle" %>
      </div>
    <% end %>
    </div>
  </div>
</div>