<!DOCTYPE html>
<html>
  <head>
    <title>Greedy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'cokoloko.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%if user_signed_in?%>
    <ul>
      <li><%= link_to image_tag("cokoloko_transparent.png", size: "35"), root_path %></li>
      <li><%= link_to "Home", root_path%></li>
      <li><%= link_to "Users", admin_users_path%></li>
      <li style="float:right"><%= link_to "Sign Out", destroy_user_session_path, method: :delete%></li>
      <li style="float:right"><%= link_to "Edit Account", edit_user_registration_path(current_user) %></li>
    </ul>
    <%else%>
    <ul>
      <li><%= link_to image_tag("cokoloko_transparent.png", size: "35"), new_user_session_path %></li>
      <li style="float:right"><%= link_to "Log In", new_user_session_path%></li>
      <li style="float:right"><%= link_to "Sign Up", new_user_registration_path%></li>
    </ul>
    <%end%>
  <%= yield %>
  </body>
</html>
